/////////////////
/////Variables/////
///////////////
$desktop-padding: 20px
$frame-desktop: 820px
$text-color-standard: #465046
$secondary-text: #745486
$main-link-color: #735991
$background-color: #FFF
$break-large: 1200px
$break-medium: 964px
$break-small: 728px
$background-color: rgba(white, 0.6)

$grid-size: 500px
$gap-size: 3rem
/////////////////
/////Resets/////
///////////////

#root
    height: 100%

*
	margin: 0
	padding: 0
	border: none
	border-radius: none

html, body
  background: white
  height: 100%
  font-family: "-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol""
  color: #333333

input, select, textarea, button, a
	outline: none
	font-family: inherit
	box-sizing: border-box

body
	zoom: 1
	position: relative
	width: 100

a
	color: #3e3e3c
	img
		outline-color: none
	&:hover
		text-decoration: none

h3
	font-size: 20px
	font-weight: bold
	padding-bottom: 8px
p
	font-size: 16px
	line-height: 24px
	font-weight: 300

table, button
	color: #333333

.app
	margin: 0 auto
	padding-top: 80px

	//Up to small screen
	@media only screen and (max-width: $break-medium - 1)
		width: $break-small

	//above small screen
	@media only screen and (min-width: $break-medium)
		width: $break-medium

	//above medium screens
	@media only screen and (min-width: $break-large)
		width: $break-large

.proto
	padding-bottom: 128px

/////////////////////////////
/////Carousel Universal/////
///////////////////////////
.carousel-u
	overflow-x: scroll

	&::-webkit-scrollbar
		width: 7px
		height: 6px

	&::-webkit-scrollbar-track
		margin: 0 20px
		background-color: #eee
		border-radius: 10px
		-webkit-box-shadow: inset 0 0 5px #eee
		box-shadow: inset 0 0 5px #eee

	&::-webkit-scrollbar-thumb
		background: #0070D2
		border-radius: 10px

.img-text
	padding: 0 24px 24px 24px

/////////////////////
/////Carousel 1/////
///////////////////
.carousel1
	display: flex
	padding: 12px 8px 24px 8px

.carousel-container1
	margin-right: 32px
	max-width: 500px
	border-radius: 16px
	flex: 0 0 50%
	box-shadow: 0 2px 8px 2px rgba(24, 24, 24, 0.08)
	background: #fff
	transition: transform .2s

	&:last-child
		margin: 0
	&:hover
		transform: translateY(-10px)
	img
		width: auto
		margin-bottom: 16px
		border-radius: 16px 16px 0 0
		border-bottom: 1px solid #E5E5E5

/////////////////////
/////Carousel 2/////
///////////////////
.carousel2
	display: grid
	padding-top: 12px
	grid-auto-flow: column
	gap: $gap-size
	margin: 0
	// scroll-behavior: smooth
	// overscroll-behavior-inline: contain
	padding-inline: $gap-size
	scroll-padding-inline: calc(#{$gap-size} * 2)
	padding-block-end: calc(#{$gap-size} / 2)
	scroll-snap-type: x mandatory

	figure
		scroll-snap-align: start

	li
		display: inline-block

		// &:first-child
		// 	margin-left: calc((#{$gap-size} / 2))

		&:last-of-type figure
			position: relative

			&::after
				content: ""
				position: absolute
				inline-size: $gap-size
				block-size: 100%
				inset-block-start: 0
				inset-inline-end: calc(#{$gap-size} * -1)

.carousel-container2
	width: 500px
	border-radius: 16px
	box-shadow: 0 2px 8px 2px rgba(24, 24, 24, 0.08)
	background: #fff
	transition: transform .2s

	&:last-child
		margin: 0

	&:hover
		transform: translateY(-10px)
		a
			color: #333333

	img
		inline-size: $grid-size
    	block-size: $grid-size
		margin-bottom: 16px
		border-radius: 16px 16px 0 0
		border-bottom: 1px solid #E5E5E5
		inline-size: 100%
		block-size: 100%
		object-fit: cover

	figcaption
		padding: 0 24px 24px 24px

	span
		display: block
		&.title
			font-size: 20px
			font-weight: bold
			padding-bottom: 8px
		&.caption
			font-size: 16px
			line-height: 24px
			font-weight: 300
