/////////////////
/////Variables/////
///////////////
$desktop-padding: 20px
$frame-desktop: 820px
$text-color-standard: #465046
$brand-blue: #0176D3
$blue-40: #0B5CAB
$background-color: #FFF
$background-color: rgba(white, 0.6)

$grid-size: 500px
$gap-size: 2rem

$page-max-width: 1440px
$page-min-width: 280px


/* mobile breakpoint is automatic */               
$tablet: 768px
$desktop: 1024px
$wide-desktop: 1280px
/////////////////
/////Resets/////
///////////////

#root
    height: 100%

*
	margin: 0
	padding: 0
	border: none
	border-radius: none

html, body
  background: white
  height: 100%
  font-family: "-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol""
  color: #333333

input, select, textarea, button, a
	outline: none
	font-family: inherit
	box-sizing: border-box

body
	zoom: 1
	position: relative
	width: 100

a
	color: #3e3e3c
	img
		outline-color: none
	&:hover
		text-decoration: none

h3
	font-size: 20px
	font-weight: bold
	padding-bottom: 8px
p
	font-size: 16px
	line-height: 24px
	font-weight: 300

table, button
	color: #333333

button
	padding: 8px 24px
	background-color: #0176D3
	border-radius: 4px
	color: #fff
	
.app
	margin: 0 auto
	padding-top: 80px
	min-width: $page-min-width

	//Up to small screen
	@media only screen and (min-width: $tablet)
		max-width: $tablet

	//above small screen
	@media only screen and (min-width: $desktop)
		max-width: $desktop

	//above medium screens
	@media only screen and (min-width: $wide-desktop)
		max-width: $wide-desktop

.proto
	padding-bottom: 128px

/////////////////////////////
/////Carousel Universal/////
///////////////////////////
.carousel-u
	overflow-x: scroll
	overflow-y: hidden
	align-items: center
	scroll-snap-type: x mandatory

	@media only screen and (min-width: $page-min-width)
		&::-webkit-scrollbar
			display: none
	@media only screen and (min-width: $tablet)
		&::-webkit-scrollbar
			display: inherit
	&::-webkit-scrollbar
		height: 8px

	&::-webkit-scrollbar-track
		margin: 0 20px
		background-color: #eee
		border-radius: 10px
		-webkit-box-shadow: inset 0 0 5px #eee
		box-shadow: inset 0 0 5px #eee

	&::-webkit-scrollbar-thumb
		background: #0070D2
		border-radius: 10px

.img-text
	padding: 0 24px 24px 24px

figure
	img
		border-bottom: 1px solid #E5E5E5
		object-fit: cover
		margin-bottom: 16px
		border-radius: 16px 16px 0 0
		overflow: hidden
	figcaption
		padding: 0 24px 24px 24px

	span
		display: block
		&.title
			font-size: 20px
			font-weight: bold
			padding-bottom: 8px
		&.caption
			font-size: 16px
			line-height: 24px
			font-weight: 300

/////////////////////
/////Carousel 2/////
///////////////////
.carousel2
	display: grid
	grid-auto-flow: column
	grid-column-gap: $gap-size
	padding-inline: $gap-size
	scroll-padding-inline: calc(#{$gap-size} * 2)
	padding-block-end: calc(#{$gap-size})

	//Mobile
	@media only screen and (min-width: $page-min-width)
		margin: 0 16px	
	@media only screen and (min-width: $tablet)
		margin: 0

.carousel-container2
	width: 500px
	border-radius: 16px
	border: 1px solid rgba(24, 24, 24, 0.04)
	box-shadow: 0px 2px 8px -2px rgba(24, 24, 24, 0.08), 0px 8px 12px -2px rgba(24, 24, 24, 0.16)
	background: #fff
	scroll-snap-align: center
	cursor: pointer

	//Mobile
	@media only screen and (min-width: $page-min-width)
		width: (100vw - 16) 
	@media only screen and (min-width: $tablet)
		width: 500px

	&:hover
		transition: box-shadow .2s
		box-shadow: 0px 12px 24px -4px rgba(24, 24, 24, 0.08), 0px 16px 32px -4px rgba(24, 24, 24, 0.16);
		a
			color: #333333

	img
		inline-size: $grid-size
    	block-size: $grid-size
		inline-size: 100%
		block-size: 100%

///////////////////
/////Lightbox/////
/////////////////
.lightbox-background
	position: absolute
	z-index: 5
	top: 0
	right: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgba(255, 255, 255, 0.8)
	padding-top: 128px

.lightbox
	position: relative
	height: auto
	max-width: 800px
	z-index: 10
	background-color: #fff
	margin: 0 auto
	border-radius: 16px
	border: 1px solid rgba(24, 24, 24, 0.04)
	box-shadow: 0px 12px 24px -4px rgba(24, 24, 24, 0.08), 0px 16px 32px -4px rgba(24, 24, 24, 0.16);

	@media only screen and (min-width: $page-min-width)
		width: 75%

	.slds-button
		margin: 0

@mixin lightboxBorderButtons
	position: absolute
	width: 3rem
	height: 3rem
	border: 2px solid $brand-blue

	&:hover
		border: 2px solid $blue-40

		svg
			fill: $blue-40

	svg
		fill: $brand-blue
	
button.close
	@include lightboxBorderButtons
	top: -56px
	right: 0

button.forward
	@include lightboxBorderButtons
	top: 50%
	transform: translateY(-50%)
	right: -64px

button.back
	@include lightboxBorderButtons
	top: 50%
	transform: translateY(-50%)
	left: -64px
