#root {
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: none; }

html, body {
  background: white;
  height: 100%;
  font-family: "-apple-system, BlinkMacSystemFont, " Segoe UI ", Roboto, Helvetica, Arial, sans-serif, " Apple Color Emoji ", " Segoe UI Emoji ", " Segoe UI Symbol "";
  color: #333333; }

input, select, textarea, button, a {
  outline: none;
  font-family: inherit;
  box-sizing: border-box; }

body {
  zoom: 1;
  position: relative;
  width: 100; }

a {
  color: #3e3e3c; }

a img {
  outline-color: none; }

a:hover {
  text-decoration: none; }

h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 8px; }

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300; }

table, button {
  color: #333333; }

.app {
  margin: 0 auto;
  padding-top: 80px; }

@media only screen and (max-width: 963px) {
  .app {
    width: 728px; } }

@media only screen and (min-width: 964px) {
  .app {
    width: 964px; } }

@media only screen and (min-width: 1200px) {
  .app {
    width: 1200px; } }

.proto {
  padding-bottom: 128px; }

.carousel-u {
  overflow-x: scroll; }

.carousel-u::-webkit-scrollbar {
  width: 7px;
  height: 6px; }

.carousel-u::-webkit-scrollbar-track {
  margin: 0 20px;
  background-color: #eee;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px #eee;
  box-shadow: inset 0 0 5px #eee; }

.carousel-u::-webkit-scrollbar-thumb {
  background: #0070D2;
  border-radius: 10px; }

.img-text {
  padding: 0 24px 24px 24px; }

.carousel1 {
  display: flex;
  padding: 12px 8px 24px 8px; }

.carousel-container1 {
  margin-right: 32px;
  max-width: 500px;
  border-radius: 16px;
  flex: 0 0 50%;
  box-shadow: 0 2px 8px 2px rgba(24, 24, 24, 0.08);
  background: #fff;
  transition: transform .2s; }

.carousel-container1:last-child {
  margin: 0; }

.carousel-container1:hover {
  transform: translateY(-10px); }

.carousel-container1 img {
  width: auto;
  margin-bottom: 16px;
  border-radius: 16px 16px 0 0;
  border-bottom: 1px solid #E5E5E5; }

.carousel2 {
  display: grid;
  padding-top: 12px;
  grid-auto-flow: column;
  gap: calc(4rem / 2);
  margin: 0;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  padding-inline: 4rem;
  scroll-padding-inline: 4rem;
  padding-block-end: calc(4rem / 2);
  scroll-snap-type: inline mandatory; }

.carousel2 figure {
  scroll-snap-align: start; }

.carousel2 li {
  display: inline-block; }

.carousel2 li:last-of-type figure {
  position: relative; }

.carousel2 li:last-of-type figure::after {
  content: "";
  position: absolute;
  inline-size: 4rem;
  block-size: 100%;
  inset-block-start: 0;
  inset-inline-end: calc(4rem * -1); }

.carousel-container2 {
  width: 500px;
  border-radius: 16px;
  box-shadow: 0 2px 8px 2px rgba(24, 24, 24, 0.08);
  background: #fff;
  transition: transform .2s; }

.carousel-container2:last-child {
  margin: 0; }

.carousel-container2:hover {
  transform: translateY(-10px); }

.carousel-container2 img {
  inline-size: 500px;
  inline-size-block-size: 500px;
  margin-bottom: 16px;
  border-radius: 16px 16px 0 0;
  border-bottom: 1px solid #E5E5E5;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover; }

.carousel-container2 figcaption {
  padding: 0 24px 24px 24px; }

.carousel-container2 span {
  display: block; }

.carousel-container2 span.title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 8px; }

.carousel-container2 span.caption {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300; }
